<% if @user.followers!=nil%>
<table>
<th>Following:</th>
<% @user.followers.each do |follow|%>
<tr><td>
    <%= link_to follow.user.username, follow.user.username %>	
  </td>
</tr>
<% end %>
</table>
<% end %>