<h1>TwitClone</h1>
<style type="text/css">
hr {color:sienna;}
p {margin-left:20px;}
body {background-image:url("images/back40.gif");}
h1 {color: blue;}
#login {float: right;}
</style>
<div id="login">
	<%= link_to "Register", new_user_path%> | 
	<%= link_to "Login", login_path%>
</div>
